html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Lato, "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 16px;
}

.full-height {
	min-height: 100%;
}

header {
	position: relative;

	display: block;

	background: #000;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

header h1.logo {
	font-size: 18px;
	letter-spacing: .16em;
	font-weight: 300;
	line-height: 1;
	margin: 0;

	position: absolute;
	top: 50%;
	left: 50%;

	width: 600px;
	padding-top: 130px;

	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;

	color: #2d3236;
	background: url("/images/logo.png") center top no-repeat;
}
