.hljs {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	line-height: 1.2;

	display: block;
	overflow-x: auto;

	padding: 0 0 0 25px;

	border-left: 2px solid #dbe2e8;
	background: #fff;
}

.hljs,
.hljs-list .hljs-built_in {
	color: #000;
}

.hljs-attribute,
.hljs-built_in,
.hljs-constant,
.hljs-keyword,
.hljs-literal,
.hljs-tag,
.hljs-typename,
.hljs-variable {
	color: #5856d6;
}

.hljs-keyword,
.hljs-tag {
	font-weight: bold;
}

.hljs-cdata,
.hljs-comment,
.hljs-doctype,
.hljs-shebang {
	color: #bec9d3;
}

.hljs-number,
.hljs-string,
.hljs-value {
	color: #5e676e;
}
