/*
Colors:
	Blue: #007aff
	Light grey:
		Backgrounds: #dbe2e8
		Text: #bec9d3
	Rose: #ff2d55;
	Purple: #5856d6
*/

/* Reset */

* {
	box-sizing: border-box;
}

menu {
	margin: 0;
	padding: 0;
}

/* Main */

html,
body {
	margin: 0;
}

body {
	background: #fff;
	color: #000;
	font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 800px;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.full-height {
	min-height: 100vh;
}

.dim {
	color: #bec9d3;
}

em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	line-height: 1;
	margin-top: 50px;
}

h1 {
	font-size: 46px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* Links */

a {
	color: #007aff;
	text-decoration: none;
	transition: color .2s ease;
}

a:hover {
	color: #5856d6;
}

/* Code */

code {
	background-color: #000;
	border-radius: 3px;
	color: #fff;
	font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
	padding: 0 5px;
}

a > code {
	background: #007aff;
	transition: background-color .2s ease;
}

a > code:hover {
	background: #5856d6;
}

/* Header */

header {
	background: #000;
	display: block;
	min-height: 100vh;
	position: relative;
	transform-style: preserve-3d;
	width: 100%;
}

header .logo {
	background: url("/images/logo.png") center top no-repeat;
	display: block;
	height: 200px;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	width: 700px;
        animation: fadein 2s ease;
        transform: translate(-50%, -50%);
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
	header .logo {
		background-image: url("/images/logo@2x.png");
		background-size: 700px 200px;
	}
}

header .github {
	background: url("/images/github-logo.svg") right center no-repeat;
	display: block;
	height: 40px;
	min-width: 40px;
	overflow: hidden;
	position: absolute;
	right: 25px;
	text-decoration: none;
	top: 25px;
}

header .github span {
	color: #fff;
	display: block;
	line-height: 40px;
	margin-right: 60px;
	opacity: 0;
	overflow: hidden;
	text-decoration: none;
	transition: opacity .2s ease;
	white-space: nowrap;
}

header .github:hover span {
	opacity: 1;
}

header .down-arrow {
	animation: fadein ease, floating 2s .1s infinite ease-in-out;
	background: url("/images/down-arrow.svg") center bottom no-repeat;
	bottom: 50px;
	height: 63px;
	left: 50%;
	margin: 0 auto;
	position: absolute;
	transform: translateX(-50%);
	transition: opacity 2s ease;
	width: 120px;
}

@media (max-height: 750px) {
	header .down-arrow {
		display: none;
	}
}

/* Footer */

footer {
	background: #fff;
	color: #bec9d3;
	display: block;
	font-size: 12px;
	padding: 100px;
	text-align: center;
}

footer a {
	color: #bec9d3;
	text-decoration: underline;
}

footer .white-logo {
	background: url("/images/white-logo.svg") center no-repeat;
	display: block;
	height: 15px;
	margin: 0 auto 25px auto;
	width: 75px;
}

/* Sections */

section > .center {
	max-width: 1440px;
	margin: 0 auto;
	padding: 100px;
}

section .section-title {
	background: #dbe2e8;
	color: #fff;
	display: block;
	font-size: 52px;
	font-weight: 300;
	letter-spacing: .1em;
	line-height: 1;
	margin: 0 auto;
	padding: 10px 100px;
	text-align: center;
	text-transform: uppercase;
}

/* Documentation */

.doc .main {
	display: table;
	padding: 100px;
	table-layout: fixed;
	width: 100%;
}

.doc .main .table-of-contents,
.doc .main .content {
	display: table-cell;
}

.doc .main .table-of-contents {
	width: 320px;
}

.doc .main .table-of-contents ol {
	color: #5e676e;
	counter-reset: item;
	list-style-type: decimal;
	margin: 0;
}

.doc .main .table-of-contents ol,
.doc .main .table-of-contents ol a {
	color: #5e676e;
}

.doc .main .table-of-contents ol a:hover {
	color: #5856d6;
}

.doc .main .table-of-contents > ol {
	border-right: 2px solid #dbe2e8;
	padding: 0;
}

.doc .main .table-of-contents li {
	display: block;
}

.doc .main .table-of-contents li:before {
	color: #bec9d3;
	content: counters(item, ".") " ";
	counter-increment: item;
	margin-right: 5px;
}

.doc .main .table-of-contents > ol > li + li {
	margin-top: 10px;
}

.doc .main .content {
	padding-left: 100px;
}

.doc .main .content .shift {
	margin: 50px;
}

@media (max-width: 1150px) {
	.doc .main {
		display: block;
	}

	.doc .main .table-of-contents,
	.doc .main .content {
		display: block;
	}

	.doc .main .table-of-contents {
		margin-bottom: 100px;
		width: inherit;
	}

	.doc .main .table-of-contents > ol {
		border-right: 0;
	}

	.doc .main .content {
		padding-left: 0;
	}
}

/* Handlers & Helpers */

section.handlers-helpers {
	background: linear-gradient(135deg, #5a3fb5 0%, #3bc0ff 100%);
	color: #fff;
}

section.handlers-helpers .section-title {
	background: rgba(0, 0, 0, .5);
}

section.handlers-helpers .grid {
	margin: 75px auto;
	max-width: 950px;
	text-align: center;
}

section.handlers-helpers .grid .intro {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 25px;
}

section.handlers-helpers .grid a {
	background: rgba(255, 255, 255, .2);
	border-radius: 3px;
	border: 2px solid #fff;
	color: #fff;
	display: inline-block;
	margin: 25px;
	overflow: hidden;
	padding: 20px;
	text-align: center;
	transition: border-color .4s ease, background-color .4s ease;
	vertical-align: top;
	width: 175px;
}

section.handlers-helpers .grid a:hover {
	background: #ff2d55;
	border-color: #ff2d55;
}

section.handlers-helpers .grid a img,
section.handlers-helpers .grid a span {
	display: block;
	margin: 0 auto;
}

section.handlers-helpers .grid a span {
	font-size: 22px;
	margin-top: 20px;
	text-transform: uppercase;
}

/* Animations */

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes floating {
	from {
		    transform: translate(-50%, 0%);
	}
	50% {
		    transform: translate(-50%, -50%);
	}
	to {
		    transform: translate(-50%, 0%);
	}
}

/* Highlight.js */

.hljs {
	background: #fff;
	border-left: 2px solid #dbe2e8;
	display: block;
	font-size: .8em;
	margin: 50px;
	padding: 0 0 0 25px;
	white-space: pre-wrap;
}

.hljs,
.hljs-code,
.hljs-list .hljs-built_in {
	color: #000;
}

.hljs-attribute,
.hljs-built_in,
.hljs-constant,
.hljs-header,
.hljs-keyword,
.hljs-link_label,
.hljs-literal,
.hljs-tag,
.hljs-typename,
.hljs-variable {
	color: #5856d6;
}

.hljs-emphasis,
.hljs-header,
.hljs-keyword,
.hljs-strong,
.hljs-tag {
	font-weight: bold;
}

.hljs-blockquote,
.hljs-bullet,
.hljs-cdata,
.hljs-comment,
.hljs-doctype,
.hljs-horizontal_rule,
.hljs-shebang {
	color: #bec9d3;
}

.hljs-link_url,
.hljs-number,
.hljs-string,
.hljs-value {
	color: #5e676e;
}
