/*
Colors:
	Blue: #007aff
	Light grey:
		Backgrounds: #dbe2e8
		Text: #bec9d3
	Rose: #ff2d55;
	Purple: #5856d6
*/


/* Main */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 18px;
	line-height: 1.4;

	min-width: 800px;

	color: #000;
}

.clearfix {
	zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;

	content: "";
}

.clearfix:after {
	clear: both;
}

.full-height {
	min-height: 100vh;
}

.dim {
	color: #bec9d3;
}


/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	line-height: 1;

	margin-top: 50px;
}

h1 {
	font-size: 46px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}


/* Links */

a {
	transition: color .2s ease;
	text-decoration: none;

	color: #007aff;
	outline: 0;
}

a:hover {
	color: #5856d6;
}


/* Code */

code {
	padding: 0 5px;

	color: #fff;
	border-radius: 3px;
	background-color: #000;
}

a > code {
	transition: background-color .2s ease;

	background: #007aff;
}

a > code:hover {
	background: #5856d6;
}


/* Header */

header {
	position: relative;

	display: block;

	width: 100%;
	min-height: 100vh;

	background: #000;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

header h1.logo {
	position: absolute;
	top: 50%;
	left: 50%;

	display: block;

	width: 700px;
	height: 200px;
	margin: 0;

	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-animation: fadein 2s ease;
	        animation: fadein 2s ease;

	background: url("/images/logo.png") center top no-repeat;
}

@media (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5) {
	header h1.logo {
		background-image: url("/images/logo.png");
		background-size: 700px 200px;
	}
}

header .github {
	position: absolute;
	top: 25px;
	right: 25px;

	display: block;
	overflow: hidden;

	min-width: 40px;
	height: 40px;

	text-decoration: none;

	background: url("/images/github-logo.svg") right center no-repeat;
}

header .github span {
	line-height: 40px;

	display: block;
	overflow: hidden;

	margin-right: 60px;

	transition: opacity .2s ease;
	white-space: nowrap;
	text-decoration: none;

	opacity: 0;
	color: #fff;
}

header .github:hover span {
	opacity: 1;
}

header .down-arrow {
	position: absolute;
	bottom: 50px;
	left: 50%;

	width: 120px;
	height: 63px;
	margin: 0 auto;

	transition: opacity 2s ease;

	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-animation: fadein 6s ease, floating 2s .1s infinite ease-in-out;
	        animation: fadein 6s ease, floating 2s .1s infinite ease-in-out;

	background: url("/images/down-arrow.svg") center bottom no-repeat;
}

@media (max-height: 750px) {
	header .down-arrow {
		display: none;
	}
}


/* Footer */

footer {
	font-size: 12px;

	display: block;

	padding: 100px;

	text-align: center;

	color: #bec9d3;
	background: #fff;
}

footer a {
	text-decoration: underline;

	color: #bec9d3;
}

footer .white-logo {
	display: block;

	width: 75px;
	height: 15px;
	margin: 0 auto 25px auto;

	background: url("/images/white-logo.svg") center no-repeat;
}


/* Sections */

section > .center {
	max-width: 1440px;
	margin: 0 auto;
	padding: 100px;
}

section .section-title {
	font-size: 52px;
	font-weight: 300;
	line-height: 1;

	display: block;

	margin: 0 auto;
	padding: 10px 100px;

	text-align: center;
	letter-spacing: .1em;
	text-transform: uppercase;

	color: #fff;
	background: #dbe2e8;
}


/* Documentation */

.doc {
	background: #fff;
}

.doc .main {
	display: table;

	width: 100%;
	padding: 100px;
}

.doc .main .table-of-contents,
.doc .main .content {
	display: table-cell;

	vertical-align: top;
}

.doc .main .table-of-contents {
	width: 320px;
}

.doc .main .table-of-contents ol {
	margin: 0;

	list-style-type: decimal;

	counter-reset: item;

	color: #5e676e;
}

.doc .main .table-of-contents ol,
.doc .main .table-of-contents ol a {
	color: #5e676e;
}

.doc .main .table-of-contents ol a:hover {
	color: #5856d6;
}

.doc .main .table-of-contents > ol {
	padding: 0;

	border-right: 2px solid #dbe2e8;
}

.doc .main .table-of-contents li {
	display: block;
}

.doc .main .table-of-contents li:before {
	margin-right: 5px;

	content: counters(item, ".") " ";
	counter-increment: item;

	color: #bec9d3;
}

.doc .main .table-of-contents > ol > li + li {
	margin-top: 10px;
}

.doc .main .content {
	padding-left: 100px;
}

.doc .main .content p.shift {
	margin: 50px auto;
	padding-left: 50px;
}

@media (max-width: 1100px) {
	.doc .main {
		display: block;
	}

	.doc .main .table-of-contents,
	.doc .main .content {
		display: block;
	}

	.doc .main .table-of-contents {
		width: inherit;
		margin-bottom: 100px;
	}

	.doc .main .table-of-contents > ol {
		border-right: 0;
	}

	.doc .main .content {
		padding-left: 0;
	}
}


/* Handlers & Helpers */

section.handlers-helpers {
	color: #fff;
	background: #007aff;
	background: linear-gradient(135deg, #5a3fb5 0%, #3bc0ff 100%);
}

section.handlers-helpers .section-title {
	background: rgba(0, 0, 0, .5);
}

section.handlers-helpers .grid {
	margin: 75px;

	text-align: center;
}

section.handlers-helpers .grid .intro {
	font-size: 22px;
	font-weight: 300;

	margin-bottom: 25px;
}

section.handlers-helpers .grid a {
	display: inline-block;
	overflow: hidden;

	width: 175px;
	margin: 25px;
	padding: 20px;

	transition: border-color .4s ease, background-color .4s ease;
	text-align: center;
	vertical-align: top;

	color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	background: rgba(255, 255, 255, .2);
}

section.handlers-helpers .grid a:hover {
	border-color: #ff2d55;
	background: #ff2d55;
}

section.handlers-helpers .grid a img,
section.handlers-helpers .grid a span {
	display: block;

	margin: 0 auto;
}

section.handlers-helpers .grid a span {
	font-size: 22px;

	margin-top: 20px;

	text-transform: uppercase;
}


/* Animations */

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes floating {
	from {
		-webkit-transform: translate(-50%, 0%);
	}
	50% {
		-webkit-transform: translate(-50%, -50%);
	}
	to {
		-webkit-transform: translate(-50%, 0%);
	}
}

@keyframes floating {
	from {
		-ms-transform: translate(-50%, 0%);
		    transform: translate(-50%, 0%);
	}
	50% {
		-ms-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
	}
	to {
		-ms-transform: translate(-50%, 0%);
		    transform: translate(-50%, 0%);
	}
}
